$games: 4;
$learnMore-bg: #CBB03F;
$playNow-bg: #68A621;
$liveGames-blue: #134086;
$liveGames-darkBlue: #072D66;
$liveGames-night: #010C23;
$buttonFontSize-screen: 1.2rem;
$buttonLineHeight-screen: 7vh;

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Josefin Sans";
  font-size: 16px;
  color: #fff;
  background: #000;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.paragraph {
  font-family: "Open Sans";
  font-size: 1rem;
}

.paragraph:nth-child(2) {
  padding-top: 2rem;
}

.main-block-header {
  margin: 0;
  font-size: 2.5vw;
  padding: 4rem 0 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}

.video-background {
  margin: auto;
  display: block;
  width: 100%;
  z-index: 0;
}

.video-background iframe,
.video-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.video-foreground-fixed {
  position: fixed;
}

#vidtop-content {
  top: 0;
  color: #fff;
}

.vid-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  background: rgba(0,0,0,.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir,Helvetica,sans-serif;
}

.vid-info h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2;
}

.vid-info a {
  display: block;
  color: #fff;
  text-decoration: none;
  background: rgba(0,0,0,.5);
  -webkit-transition: 0.6s background;
  -o-transition: 0.6s background;
  transition: 0.6s background;
  border-bottom: none;
  margin: 1rem auto;
  text-align: center;
}

.home {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.home__video {
  margin: auto;
  display: block;
  width: 100%;
  z-index: 0;
}

.home__overlay {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 0;
  height: 100vh;
  width: 100%;
}

.home__overlay-nav {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 4%;
}

.home__overlay-nav_logo {
  display: inline-block;
  height: 75px;
  width: 66px;
  background: url("../img/logo.svg");
  vertical-align: middle;
}

.home__overlay-nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  width: 26%;
}

.home__overlay-nav-menu_li {
  display: inline-block;
}

.home__overlay-nav-menu_li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  opacity: 0.75;
  font-size: 1.3rem;
  font-weight: 700;
  -webkit-transition: 0.375s all ease-in-out;
  -o-transition: 0.375s all ease-in-out;
  transition: 0.375s all ease-in-out;
}

.home__overlay-nav-menu_li a:hover {
  opacity: 1;
}

.home__overlay-nav-menu_li a:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.375s all ease-in-out;
  -o-transition: 0.375s all ease-in-out;
  transition: 0.375s all ease-in-out;
}

.home__overlay-nav-menu_li a:after {
  position: absolute;
  content: “”;
  bottom: -5px;
  width: 100%;
  background: #fff;
  height: 2px;
  opacity: 0;
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-transition: 0.375s all ease-in-out;
  -o-transition: 0.375s all ease-in-out;
  transition: 0.375s all ease-in-out;
}

.home__overlay-text {
  margin-bottom: 10vh;
  margin-left: 4%;
}

.home__overlay-text_p {
  font-size: 2rem;
  margin: 1rem 0 0;
  font-weight: 700;
  span{
    font-size: 1.3rem;
  }
}

.home__overlay-text_p:nth-of-type(2) {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.home__overlay-text_header {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 0 20px;
  font-size: 4rem;
}

.about-us {
  position: relative;
  height: 100vh;
  -webkit-background-size: 250px 300px;
  background-size: 250px 300px;
  text-align: center;
}

.about-us__text {
  background: rgba(7,45,102,.8);
  padding-bottom: 70px;
}

.about-us__text_p {
  display: inline-block;
  margin: 0 auto 50px;
  font-size: 1.5rem;
  padding-top: 3rem;
  margin: 0;
  width: 60%;
}

.our-games {
  min-height: 1%;
  overflow-y: visible;
  position: relative;
  background: #001d4b;
}

.our-games__p {
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.5rem;
  margin: 0;
}

.our-games__header {
  padding: 4rem 0 2rem;
}

.our-games__info {
  padding: 0;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.our-games__info .our-games__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: bottom;
  -webkit-align-items: bottom;
  -ms-flex-align: bottom;
  align-items: bottom;
  background: 0 0;
  padding: 70px 0 50px 2vw;
}

.our-games__info .our-games__container .swiper-slide {
  height: 270px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  z-index: 1;
}

.our-games__info .our-games__container .swiper-slide img {
  height: 270px;
}

.our-games__info .our-games__container .swiper-slide .game_text {
  position: absolute;
  top: 40px;
  left: 70px;
  display: inline-block;
  text-align: right;
  width: 50px;
}

.our-games__info .our-games__container .swiper-slide .game_text .game_header {
  color: gold;
  margin: 0;
}

.our-games__info .our-games__container .swiper-slide .game_text .game_p {
  margin: 0;
  color: #4ad6db;
  font-weight: 700;
}

.our-games__info .our-games__container .swiper-slide {
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  -o-transition: transform 2s;
  transition: transform 2s;
  transition: transform 2s,-webkit-transform 2s;
}

.our-games__info .our-games__container .swiper-slide img {
  -webkit-transition: -webkit-box-shadow 2s;
  transition: -webkit-box-shadow 2s;
  -o-transition: box-shadow 2s;
  transition: box-shadow 2s;
  transition: box-shadow 2s,-webkit-box-shadow 2s;
}

.our-games__info .our-games__container .swiper-slide-active {
  z-index: 10;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.our-games__info .our-games__container .swiper-slide-active img {
  -webkit-box-shadow: 0 0 50px #134086;
  box-shadow: 0 0 50px #134086;
}

.over-under {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.over-under__video {
  display: block;
  margin: -75px auto 0;
  height: auto;
  width: 100%;
  padding: 0;
}

.over-under__overlay {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(11,33,61,.6);
  z-index: 10;
  text-align: center;
}

.over-under__overlay-text {
  display: inline-block;
  margin-top: 15%;
  opacity: 1;
}

.over-under__overlay-text_p {
  margin: 0 0 10px;
}

.over-under__overlay-text-buttons {
  margin: 20px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 7vh;
}

.over-under__overlay-text-buttons_learn,
.over-under__overlay-text-buttons_play {
  width: 49%;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.375s all ease-in-out;
  -o-transition: 0.375s all ease-in-out;
  transition: 0.375s all ease-in-out;
}

.over-under__overlay-text-buttons_learn {
  background: #cbb03f;
}

.over-under__overlay-text-buttons_learn:hover {
  background-color: #b59c31;
  -webkit-transition: 0.375s all ease-in-out;
  -o-transition: 0.375s all ease-in-out;
  transition: 0.375s all ease-in-out;
}

.over-under__overlay-text-buttons_play {
  background: #68a621;
}

.over-under__overlay-text-buttons_play:hover {
  background-color: #7bc427;
  -webkit-transition: 0.375s all ease-in-out;
  -o-transition: 0.375s all ease-in-out;
  transition: 0.375s all ease-in-out;
}

.tombala {
  height: auto;
  overflow-y: visible;
  background: url("../img/tombala_bg.jpg");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.tombala__container {
  height: auto;
  width: 70%;
  padding: 0 0 70px;
}

.tombala__container-wrapper .tombala__slide {
  padding: 0 0 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tombala__container-wrapper .tombala__slide .tombala__slide-header {
  display: block!important;
  min-height: 50px;
  padding-bottom: 3rem;
}

.tombala__container-wrapper .tombala__slide .tombala__slide-info {
  background: #1d1d1d;
  margin: 0;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.tombala__container-wrapper .tombala__slide .tombala__slide-info .tombala__slide_video {
  width: 100%;
  height: 564px;
}

.tombala__container-wrapper .tombala__slide .tombala__slide-info .tombala__slide-info_play {
  display: inline-block;
  margin: 3vh 0;
  width: 30%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #68a621;
  -webkit-transition: 0.375s all ease-in-out;
  -o-transition: 0.375s all ease-in-out;
  transition: 0.375s all ease-in-out;
  font-size: 1.2rem;
  line-height: 7vh;
}

.tombala__container-wrapper .tombala__slide .tombala__slide-info .tombala__slide-info_play:hover {
  background-color: #7bc427;
  -webkit-transition: 0.375s all ease-in-out;
  -o-transition: 0.375s all ease-in-out;
  transition: 0.375s all ease-in-out;
}

.tombala .swiper-pagination {
  top: 94%;
}

.tombala .swiper-pagination-bullet {
  width: 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
}

.tombala .swiper-pagination-bullet-active {
  width: 35px;
  opacity: 0.8;
}

.partners-benefits {
  height: auto;
  min-height: 657px;
  overflow: hidden;
  background: #134086;
}

.partners-benefits__header {
  margin-bottom: 65px;
}

.partners-benefits__container {
  margin: 20px auto 0;
  width: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.partners-benefits__container .partners-benefits_benefit {
  display: inline-block;
  text-align: left;
  margin-bottom: 50px;
  width: 30%;
}

.partners-benefits__container .partners-benefits_benefit-img {
  display: inline-block;
  width: 8vh;
  height: 7vh;
}

.partners-benefits__container .partners-benefits_benefit-header {
  font-size: 1.15rem;
  text-transform: uppercase;
  position: relative;
  width: 80%;
  left: 10px;
}

.partners-benefits__container .partners-benefits_benefit-info {
  width: 100%;
  text-align: left;
}

.item-header{
  display: flex;
  align-items: center;
}

.partners-benefits__container .partners-benefits_benefit .partners-benefits_benefit-img {
  float: left;
  -webkit-transition: 575ms all ease;
  -o-transition: 575ms all ease;
  transition: 575ms all ease;
}

.partners-benefits__container .partners-benefits_benefit:hover .partners-benefits_benefit-img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.partners-benefits #benefit_group-1 .partners-benefits_benefit:nth-child(1) .partners-benefits_benefit-img {
  background: url("../img/benefit-1.svg") no-repeat;
  -webkit-background-size: 90% 100%;
  background-size: 90% 100%;
}

.partners-benefits #benefit_group-1 .partners-benefits_benefit:nth-child(2) .partners-benefits_benefit-img {
  background: url("../img/benefit-2.svg") no-repeat;
  -webkit-background-size: 90% 100%;
  background-size: 90% 100%;
}

.partners-benefits #benefit_group-1 .partners-benefits_benefit:nth-child(3) .partners-benefits_benefit-img {
  background: url("../img/benefit-3.svg") no-repeat;
  -webkit-background-size: 90% 100%;
  background-size: 90% 100%;
}

.partners-benefits #benefit_group-1 .partners-benefits_benefit:nth-child(3) .partners-benefits_benefit-img {
  -webkit-background-size: 90% 90%;
  background-size: 90% 90%;
}

.partners-benefits #benefit_group-2 .partners-benefits_benefit:nth-child(1) .partners-benefits_benefit-img {
  background: url("../img/benefit-4.svg") no-repeat;
  -webkit-background-size: 90% 100%;
  background-size: 90% 100%;
}

.partners-benefits #benefit_group-2 .partners-benefits_benefit:nth-child(2) .partners-benefits_benefit-img {
  background: url("../img/benefit-5.svg") no-repeat;
  -webkit-background-size: 90% 100%;
  background-size: 90% 100%;
}

.partners-benefits #benefit_group-2 .partners-benefits_benefit:nth-child(3) .partners-benefits_benefit-img {
  background: url("../img/benefit-6.svg") no-repeat;
  -webkit-background-size: 90% 100%;
  background-size: 90% 100%;
}

.partners {
  height: 60vh;
  text-align: center;
  padding-bottom: 4rem;
  background: #fff;
}

.partners__h3 {
  text-transform: uppercase;
  font-size: 2.5vw;
  margin: 0;
  padding-top: 3rem;
  color: #000;
}

.partners__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 80%;
  max-width: 100%;
  padding-top: 1.5rem;
}

.partners__container-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 33.3%;
}

.partners__container-block img {
  max-width: 16vw;
  height: auto;
  width: auto;
}

.career {
  height: auto;
  width: 100%;
  background: #134086;
  color: #fff;
}

.career-h3 {
  font-size: 2.5vw;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  padding-top: 4rem;
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 65px;
}

.career__content {
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 3rem;
}

.career__content-block {
  width: 50%;
  overflow: hidden;
}

.career__content-block img {
  -webkit-transition: 575ms all ease;
  -o-transition: 575ms all ease;
  transition: 575ms all ease;
  max-width: 100%;
  height: auto;
  width: auto;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: scale(1,1);
  -ms-transform: scale(1,1);
  transform: scale(1,1);
}

.career__content-block:hover img {
  -webkit-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  transform: scale(1.05,1.05);
}

.career__content-block p {
  font-family: "Open Sans",sans-serif;
  font-size: 1.3vw;
  vertical-align: middle;
  padding: 0 5rem 0 1rem;
  width: 70%;
  line-height: 2rem;
}

.career__content-block a {
  text-decoration: none;
}

.career__content-block button {
  display: inline-block;
  margin: 5rem 0 0 1rem;
  width: 30%;
  padding: 15px 0;
  background: #68a621;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-transition: 0.375s all ease-in-out;
  -o-transition: 0.375s all ease-in-out;
  transition: 0.375s all ease-in-out;
  font-family: "Josefin Sans";
}

.career__content-block button:hover {
  background-color: #7bc427;
  -webkit-transition: 0.375s all ease-in-out;
  -o-transition: 0.375s all ease-in-out;
  transition: 0.375s all ease-in-out;
}

.career__content-block:nth-child(2) {
  padding: 5rem 2rem 0;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 60vh;
  width: 100%;
  background: #05142a;
  z-index: 2;
}

.footer__logo {
  width: 20%;
}

.footer__social-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 17%;
  margin-top: 2rem;
}

.footer__social-icons .icon {
  font-size: 3rem;
  color: #fff;
  opacity: 0.75;
  -webkit-transition: 0.375s all ease-in-out;
  -o-transition: 0.375s all ease-in-out;
  transition: 0.375s all ease-in-out;
}

.footer__social-icons .icon:hover {
  opacity: 1;
  -webkit-transition: 0.375s all ease-in-out;
  -o-transition: 0.375s all ease-in-out;
  transition: 0.375s all ease-in-out;
}

.footer__copyrigth {
  margin-top: 2rem;
  font-size: 1.05rem;
  color: #fff;
}

@import "mobile.scss";
