$games: 4;
$playNow-bg: #68A621;
$liveGames-blue: #134086;
$liveGames-darkBlue: #072D66;
$liveGames-night: #001D4B;

$buttonFontSize-screen: 1.2rem;
$buttonLineHeight-screen: 7vh;

$buttonFontSize-tablet: 1.2rem;
$buttonLineHeight-tablet: 50px;

$buttonFontSize-mobile: 1.2rem;
$buttonLineHeight-mobile: 50px;


@media only screen and (min-width:1921px) {
  .our-games__info {
    padding: 5vh 0 3vh;
  }

  .our-games__info .our-games__container {
    padding-left: 0;
    height: 450px;
  }

  .our-games__info .our-games__container .swiper-slide {
    height: 350px;
  }

  .our-games__info .our-games__container .swiper-slide img {
    height: 350px;
  }

  .our-games .swiper-slide-prev {
    padding-left: 4%;
  }

  .our-games .swiper-slide-active {
    z-index: 10;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .our-games .swiper-slide-active img {
    -webkit-box-shadow: 0 0 50px #134086;
    box-shadow: 0 0 50px #134086;
  }

  .over-under {
    min-height: 100vh;
  }

  .tombala {
    padding-top: 1%;
  }

  .partners-benefits__container{
    width: 70%;
  }

  .career__content-block p {
    line-height: 2.7rem;
  }

  .career__content-block button {
    padding: 30px 0;
    font-size: 2rem;
  }

  .career__content-block:nth-child(2) {
    padding-top: 10rem;
  }
}
@media only screen and (min-width:1600px) and (max-width:2020px) {
  .our-games {
    height: auto;
  }

  .our-games__info {
    padding: 5vh 0 3vh;
  }

  .our-games__info .our-games__container {
    padding-left: 0;
    height: 300px;
  }

  .our-games__info .our-games__container .swiper-slide {
    height: 280px;
  }

  .our-games__info .our-games__container .swiper-slide img {
    height: 280px;
  }

  .our-games .swiper-slide-prev {
    padding-left: 4%;
  }

  .over-under {
    min-height: 1100px;
  }

  .tombala {
    min-height: 976px;
  }

  .career {
    height: 100vh;
  }
}
@media only screen and (min-width:1201px) and (max-width:1920px) {
  .over-under {
    min-height: 100vh;
  }

  .over-under__overlay-text {
    margin-top: 400px;
    width: 40%;
  }
}
@media only screen and (max-width:1200px) {
  .video-background {
    display: none;
  }

  .home {
    background: url("../img/videos/home_bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .over-under {
    background: url("../img/videos/ou_bg.jpg") center no-repeat;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
  }
}
@media only screen and (min-width:770px) and (max-width:1200px) {
  body {
    width: 100vw;
    margin: 0;
    font-family: "Josefin Sans";
    font-size: 16px;
    color: #fff;
    background: #000;
    overflow-x: hidden;
  }

  .paragraph {
    font-family: "Open Sans";
    font-size: 1rem;
  }

  .main-block-header {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: 8vw;
    text-align: center;
    text-transform: uppercase;
  }

  .home {
    min-height: 400px;
  }

  .home__overlay {
    height: 100%;
  }

  .home__overlay-nav-menu {
    width: 50%;
  }

  .home__overlay-nav-menu_li {
    margin: 0 2%;
  }

  .home__overlay-text {
    margin-bottom: 5vh;
  }

  .about-us {
    height: 270px;
    background: #072d66;
  }

  .about-us__text {
    padding-top: 30px;
  }

  .about-us__text_p {
    font-size: 1rem;
  }

  .our-games {
    overflow-y: visible;
    position: relative;
    background: #072d66;
  }

  .our-games__p {
    font-size: 1rem;
  }

  .our-games__header {
    background: 0 0;
  }

  .our-games__info {
    padding: 1vh 0 0;
    background-image: none;
  }

  .our-games__info .our-games__container {
    padding-left: 0;
    height: 250px;
  }

  .our-games__info .our-games__container .swiper-slide {
    height: 250px;
  }

  .our-games__info .our-games__container .swiper-slide img {
    height: 200px;
  }

  .our-games__info .our-games__container .swiper-slide .game_text {
    top: 30px;
    left: 40px;
    text-align: right;
    width: 50px;
  }

  .our-games .swiper-pagination {
    top: 260px;
  }

  .over-under {
    min-height: 565px;
  }

  .over-under__overlay-text {
    margin-top: 180px;
    width: 40%;
  }

  .over-under__overlay-text_header {
    margin: 0;
    font-size: 2rem;
  }

  .over-under__overlay-text_p {
    margin: 0;
    width: 100%;
    font-size: 1rem;
  }

  .over-under__overlay-text-buttons {
    margin: 10px 0 0;
  }

  .over-under__overlay-text-buttons_learn,
  .over-under__overlay-text-buttons_play {
    line-height: 6vh;
  }

  .tombala {
    overflow-y: visible;
    background: url("../img/tombala_bg.jpg");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    min-height: 650px;
  }

  .tombala__container {
    height: auto;
    width: 70%;
    padding-bottom: 50px;
  }

  .tombala__container-wrapper .tombala__slide {
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .tombala__container-wrapper .tombala__slide .tombala__slide-info {
    background: #134086;
    margin: 0;
    font-size: 1rem;
    text-align: center;
  }

  .tombala__container-wrapper .tombala__slide .tombala__slide-info .tombala__slide_video {
    width: 100%;
    height: 460px;
  }

  .tombala__container-wrapper .tombala__slide .tombala__slide-info .tombala__slide-info_play {
    line-height: 2rem;
    margin: 15px 0;
    padding: 5px 0;
    display: inline-block;
    width: 30%;
  }

  .tombala .swiper-pagination {
    top: 95%;
  }

  .tombala .swiper-pagination-bullet {
    width: 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
  }

  .tombala .swiper-pagination-bullet-active {
    width: 35px;
    opacity: 0.8;
  }

  .career {
    height: auto;
    padding-bottom: 30px;
  }

  .career__content-block p {
    font-size: 1.5vw;
    line-height: 1.5rem;
  }

  .career__content-block button {
    width: 50%;
    margin-top: 1rem;
  }

  .career__content-block:nth-child(2) {
    padding-top: 3rem;
  }

  .footer {
    padding-top: 2rem;
    min-height: 60vh;
  }

  .mobile-landscape {
    height: auto;
  }

  .mobile-landscape__content {
    padding-top: 1.5rem;
  }

  .mobile-landscape__content .career__content-block:nth-child(2) {
    padding-top: 0;
  }

  .mobile-landscape__content .button {
    margin-top: 0;
  }

  .mobile-landscape__content .paragraph {
    line-height: 1.5rem;
    font-size: 1.7vw;
  }
}
@media only screen and (min-width:481px) and (max-width:769px) {
  body {
    overflow-x: hidden;
    background: #134086;
  }

  .paragraph {
    font-family: "Open Sans";
    font-size: 0.8rem;
    margin: 0;
  }

  .main-block-header {
    font-size: 2rem;
  }

  .home {
    min-height: 400px;
    overflow-x: hidden;
  }

  .home__video {
    margin: 0;
    display: block;
    width: 100vw;
    z-index: 0;
  }

  .home__overlay {
    height: 450px;
    margin: 0;
  }

  .home__overlay-nav {
    height: 50px;
  }

  .home__overlay-nav_logo {
    height: 30px;
    width: 25px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }

  .home__overlay-nav-menu {
    width: 60%;
  }

  .home__overlay-text_header {
    font-size: 1rem;
  }

  .about-us {
    height: 250px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #072d66;
  }

  .about-us__text {
    margin: 0;
    height: auto;
  }

  .about-us__text_p {
    width: 80%;
  }

  .our-games {
    height: auto;
    overflow-y: visible;
    position: relative;
    background: #072d66;
  }

  .our-games__p {
    font-size: 0.8rem;
    padding-bottom: 2rem;
  }

  .our-games__header {
    background: 0 0;
    line-height: 5vh;
  }

  .our-games__info {
    padding: 1vh 0 10vh;
    background-image: none;
  }

  .our-games__info .our-games__container {
    padding: 0 0 30px;
    height: auto;
  }

  .our-games__info .our-games__container .swiper-slide {
    height: auto;
  }

  .our-games__info .our-games__container .swiper-slide img {
    height: 140px;
  }

  .our-games__info .our-games__container .swiper-slide .game_text {
    display: inline-block;
    margin: 10% 0 0 8%;
    text-align: right;
    width: 30%;
  }

  .our-games .swiper-pagination {
    top: 150px;
  }

  .over-under {
    height: 450px;
  }

  .over-under__video {
    margin: 0 auto;
  }

  .over-under__overlay-text {
    margin-top: 15vh;
    width: 80%;
  }

  .over-under__overlay-text_header {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .over-under__overlay-text_p {
    margin: auto;
    width: 80%;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .over-under__overlay-text-buttons {
    font-size: 1.2rem;
    line-height: 50px;
    margin-top: 10px;
  }

  .over-under__overlay-text-buttons_learn,
  .over-under__overlay-text-buttons_play {
    margin-top: 1vh;
  }

  .tombala {
    overflow-y: visible;
    background: url("../img/tombala_bg.jpg");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }

  .tombala__container {
    margin: 0 auto;
    height: auto;
    width: 90%;
    padding: 0 0 50px;
  }

  .tombala__container-wrapper .tombala__slide {
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: cent100vher;
    -webkit-align-items: cent100vher;
    -ms-flex-align: cent100vher;
    align-items: cent100vher;
  }

  .tombala__container-wrapper .tombala__slide .tombala__slide-info {
    margin: 0;
    font-size: 1rem;
    text-align: center;
  }

  .tombala__container-wrapper .tombala__slide .tombala__slide-info .tombala__slide_video {
    width: 100%;
    height: 460px;
  }

  .tombala__container-wrapper .tombala__slide .tombala__slide-info .tombala__slide-info_play {
    margin: 15px 0;
    width: 40%;
    font-size: 1.2rem;
    line-height: 50px;
  }

  .tombala .swiper-pagination {
    top: 93%;
  }

  .tombala .swiper-pagination-bullet {
    width: 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
  }

  .tombala .swiper-pagination-bullet-active {
    width: 35px;
    opacity: 0.8;
  }

  .partners-benefits {
    padding: 0 0 5vh;
  }

  .partners-benefits #benefit_group-1 {
    margin: 0 0 0 5%;
    float: left;
  }

  .partners-benefits #benefit_group-2 {
    margin: 150px 5% 0 0;
    float: right;
  }

  .partners-benefits__header {
    line-height: 17vh;
  }

  .partners-benefits__container {
    width: 35%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .partners-benefits__container .partners-benefits_benefit {
    width: 100%;
    margin-bottom: 100px;
  }

  .partners-benefits__container .partners-benefits_benefit-header {
    font-size: 1rem;
    width: 100%;
  }

  .partners-benefits__container .partners-benefits_benefit-info {
    width: 100%;
  }

  .partners-benefits__container .partners-benefits_benefit:last-child {
    margin-bottom: 0;
  }

  .career {
    height: auto;
    overflow-y: visible;
    padding-bottom: 2rem;
  }

  .career-h3 {
    margin-bottom: 0;
  }

  .career__content {
    padding-top: 3rem;
    font-size: 2vw;
  }

  .career__content-block p {
    font-size: 2vw;
    margin: 0;
    line-height: 1.5rem;
    width: 80%;
  }

  .career__content-block button {
    margin-top: 0.5rem;
    width: 50%;
    font-size: 1.2rem;
    padding: 10px;
  }

  .career__content-block:nth-child(2) {
    padding-top: 1rem;
  }

  .footer {
    min-height: 50vh;
    overflow-y: visible;
  }

  .footer__logo {
    width: 30%;
  }

  .footer__social-icons {
    width: 25%;
  }

  .footer__social-icons .icon {
    width: 20%;
    height: 25%;
  }

  .footer__social-icons .icon .social-icon {
    max-width: 45px;
  }

  .mobile-landscape {
    height: auto;
  }

  .mobile-landscape__content {
    padding-top: 1.5rem;
  }

  .mobile-landscape__content .career__content-block:nth-child(2) {
    padding-top: 0.5rem;
  }

  .mobile-landscape__content .paragraph {
    line-height: 1.3rem;
  }
}
@media only screen and (max-width:480px) {
  body {
    background: #134086;
    width: 100vw;
    overflow-x: hidden;
  }

  .paragraph {
    font-family: "Open Sans";
    font-size: 0.8rem;
  }

  .paragraph:nth-child(2) {
    padding-top: 0;
  }

  .main-block-header {
    padding: 20px 0 2rem;
    font-size: 1.3rem;
    margin: 0;
  }

  .home {
    min-height: 230px;
    background: url("../img/videos/home_bg.jpg") center bottom no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .home__video {
    display: none;
  }

  .home__overlay {
    height: 100%;
    text-align: center;
  }

  .home__overlay-nav {
    height: auto;
    background: #001d4b;
    margin-top: 0;
    width: 100%;
    -webkit-box-align: space-between;
    -webkit-align-items: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
    padding-bottom: 2px;
    padding-left: 0;
  }

  .home__overlay-nav_logo {
    display: none;
  }

  .home__overlay-nav-menu {
    width: 70%;
    margin: 0.75rem auto;
  }

  .home__overlay-nav-menu_li a {
    font-size: 0.7rem;
  }

  .home__overlay-text {
    display: block;
    margin: 0 0 20px;
  }

  .home__overlay-text_header {
    display: none;
  }

  .home__overlay-text_p {
    font-size: 0.7rem;
    margin: 0;
  }

  .home__overlay-text_p:nth-of-type(2) {
    font-size: 0.7rem;
    margin: 0;
  }

  .about-us {
    height: auto;
    overflow-y: visible;
    background: #134086;
  }

  .about-us__text {
    background: 0 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 20px;
    margin: 0;
    height: auto;
    width: 100%;
  }

  .about-us__text_header {
    padding-bottom: 1rem;
  }

  .about-us__text_p {
    width: 70%;
    font-size: 0.7rem;
    margin: 0;
  }

  .our-games {
    background: #072d66;
    overflow-y: visible;
    overflow-x: hidden;
    position: relative;
  }

  .our-games__p {
    font-size: 0.7rem;
    padding-bottom: 1rem;
  }

  .our-games__header {
    background: 0 0;
    padding-top: 20px;
    padding-bottom: 0.7rem;
  }

  .our-games__info {
    margin: 0;
    padding: 0;
    background-image: none;
  }

  .our-games__info .our-games__container {
    margin: 0;
    padding: 0;
    background: 0 0;
    padding-bottom: 50px;
  }

  .our-games__info .our-games__container-wrapper {
    top: 10px;
    margin: 0;
    padding: 0;
  }

  .our-games__info .our-games__container-wrapper .swiper-slide {
    height: auto;
    padding: 0;
    display: inline-block;
    text-decoration: none;
  }

  .our-games__info .our-games__container-wrapper .swiper-slide img {
    width: 100vw;
    height: auto;
  }

  .our-games__info .our-games__container-wrapper .swiper-slide .game_text {
    top: 30px;
    text-align: right;
    width: 30%;
  }

  .our-games .swiper-slide {
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    -o-transition: transform 2s;
    transition: transform 2s;
    transition: transform 2s,-webkit-transform 2s;
  }

  .our-games .swiper-slide img {
    -webkit-transition: -webkit-box-shadow 2s;
    transition: -webkit-box-shadow 2s;
    -o-transition: box-shadow 2s;
    transition: box-shadow 2s;
    transition: box-shadow 2s,-webkit-box-shadow 2s;
  }

  .our-games .swiper-slide-active {
    z-index: 10;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  .our-games .swiper-slide-active img {
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
  }

  .our-games .swiper-pagination {
    top: 90%;
  }

  .over-under {
    height: 60vh;
    background: url("../img/videos/ou_bg.jpg") center no-repeat;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
  }

  .over-under__video {
    display: none;
  }

  .over-under__overlay-text {
    margin-top: 15rem;
  }

  .over-under__overlay-text_header {
    font-size: 1.1rem;
  }

  .over-under__overlay-text_p {
    margin: auto;
    width: 80%;
    font-size: 0.7rem;
  }

  .over-under__overlay-text-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .over-under__overlay-text-buttons_learn,
  .over-under__overlay-text-buttons_play {
    line-height: 3rem;
  }

  .tombala__container {
    height: auto;
    width: 95%;
    padding: 0 0 50px;
  }

  .tombala__container-wrapper .tombala__slide {
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .tombala__container-wrapper .tombala__slide .tombala__slide-info {
    margin: 0;
    font-size: 1rem;
    text-align: center;
  }

  .tombala__container-wrapper .tombala__slide .tombala__slide-info .tombala__slide_video {
    height: auto;
    width: 100%;
    height: auto;
    height: auto;
  }

  .tombala__container-wrapper .tombala__slide .tombala__slide-info .tombala__slide-info_play {
    margin: 3vh 0;
    display: inline-block;
    line-height: 7vh;
    width: 70%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background: #68a621;
  }

  .tombala .swiper-pagination {
    top: 91%;
  }

  .tombala .swiper-pagination-bullet {
    width: 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
  }

  .tombala .swiper-pagination-bullet-active {
    width: 35px;
    opacity: 0.8;
  }

  .partners-benefits {
    padding: 1vh 0 5vh;
  }

  .partners-benefits #benefit_group-1 {
    margin: 0;
    float: left;
  }

  .partners-benefits #benefit_group-2 {
    margin: 25vh 3% 0 0;
    float: left;
  }

  .partners-benefits__container {
    width: 32%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .partners-benefits__container .partners-benefits_benefit {
    width: 100%;
    margin-bottom: 100px;
  }

  .partners-benefits__container .partners-benefits_benefit-img {
    height: 16vh;
    width: 18vh;
  }

  .partners-benefits__container .partners-benefits_benefit-header {
    font-size: 1rem;
    width: 100%;
  }

  .partners-benefits__container .partners-benefits_benefit-info {
    width: 100%;
  }

  .partners-benefits__container .partners-benefits_benefit:last-child {
    margin-bottom: 0;
  }

  .partners {
    padding-bottom: 0;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .partners__h3 {
    font-size: 1.3rem;
    padding-top: 2.5rem;
  }

  .partners__container {
    padding-top: 0;
  }

  .partners__container-block img {
    max-width: 25vw;
  }

  .career {
    height: auto;
    overflow-y: visible;
    padding-bottom: 30px;
  }

  .career-h3 {
    font-size: 1.3rem;
    padding-top: 2.5rem;
  }

  .career__content {
    padding-top: 0;
  }

  .career__content-block {
    width: 100%;
  }

  .career__content-block p {
    font-size: 4vw;
    width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
    line-height: 1.5rem;
  }

  .career__content-block button {
    font-size: 1.2rem;
    width: 80%;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .career__content-block:nth-child(1) {
    display: none;
  }

  .career__content-block:nth-child(2) {
    padding-top: 1rem;
  }

  .footer {
    min-height: 45vh;
  }

  .footer__copyrigth {
    font-size: 0.9rem;
  }

  .footer__logo {
    width: 40%;
  }

  .footer__social-icons {
    width: 40%;
  }

  .footer__social-icons .icon {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width:414px) and (max-height:736px) {
  .over-under__overlay-text {
    margin-top: 10rem;
  }

  .over-under__overlay-text-buttons {
    padding: 0 1rem;
  }

  .over-under__overlay-text-buttons_learn,
  .over-under__overlay-text-buttons_play {
    line-height: 2.5rem;
  }

  .career {
    padding-bottom: 30px;
  }

  .footer {
    padding-top: 20px;
  }
}
@media only screen and (max-width:340px) and (max-height:600px) {
  .over-under__overlay-text {
    margin-top: 5.5rem;
  }

  .over-under__overlay-text_header {
    padding-bottom: 1rem;
  }

  .career {
    min-height: 65vh;
    overflow-y: visible;
    padding-bottom: 30px;
  }

  .career__content-block p {
    width: 90%;
  }

  .career__content-block button {
    display: block;
    margin: 10px auto 0;
    width: 90%;
  }

  .footer {
    padding-top: 30px;
  }
}
@media only screen and (max-width:370px) {
  .career {
    padding-bottom: 30px;
  }

  .career__content-block p {
    width: 90%;
  }

  .career__content-block button {
    display: block;
    margin: 10px auto 0;
    width: 90%;
  }
}
@media only screen and (max-height:823px) {
  .career {
    padding-bottom: 30px;
  }

  .career-h3 {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width:768px) and (max-width:1048px) {
  .our-games {
    background: #072d66;
    overflow-y: visible;
    position: relative;
    padding-bottom: 12vh;
  }

  .our-games__header {
    margin: 0;
    padding: 3vh 0 0;
    background: 0 0;
  }

  .our-games__info {
    padding: 0 0 20px;
    background-image: none;
  }

  .our-games__info .our-games__container {
    background: 0 0;
    padding-bottom: 50px;
    height: 170px;
  }

  .our-games__info .our-games__container .swiper-slide {
    height: 100px;
    display: inline-block;
    text-decoration: none;
  }

  .our-games__info .our-games__container .swiper-slide img {
    width: 100%;
    height: auto;
  }

  .our-games__info .our-games__container .swiper-slide .game_text {
    top: 30px;
    text-align: right;
    width: 30%;
  }

  .our-games .swiper-pagination {
    height: 20px;
    top: 93%;
  }
}
@media only screen and (min-width:481px) and (max-width:725px) {
  .our-games {
    background: #072d66;
    overflow-y: visible;
    position: relative;
    padding-bottom: 12vh;
  }

  .our-games__header {
    margin: 3vh 0 0;
    background: 0 0;
  }

  .our-games__info {
    padding: 0;
    background-image: none;
  }

  .our-games__info .our-games__container {
    height: 230px;
    background: 0 0;
    padding-bottom: 50px;
  }

  .our-games__info .our-games__container .swiper-slide {
    height: 200px;
    display: inline-block;
    text-decoration: none;
  }

  .our-games__info .our-games__container .swiper-slide img {
    width: 100%;
    height: auto;
  }

  .our-games__info .our-games__container .swiper-slide .game_text {
    top: 30px;
    text-align: right;
    width: 30%;
  }

  .our-games .swiper-pagination {
    height: 20px;
    top: 95%;
  }
}
@media (min-aspect-ratio:16 / 9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio:16 / 9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}
